.HouseRooms .ShowMap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.HouseRooms .options {
    padding-bottom: 1.4rem;
    padding-left: 1.4rem;
    padding-right: 1.4rem;
    background-color: white;
}