.HouseRooms .ShowMap {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.HouseRooms .options {
    padding: 1.4rem;
    background-color: white;
}

.HouseRooms .apply-filter:hover {
    --bs-btn-hover-bg: #2980b9;
}

.footer {
    position: fixed;
    bottom: 0;
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: start;
    padding: 0.5rem;
    color: rgb(111, 111, 111);
}

.footer .company-name {
    margin-left: 2rem;
    margin-right: 0;
}

.footer p {
    margin: 0 1rem;
}