.star-rating {

    cursor: pointer;
}

.star {
    font-size: 24px;
    margin-right: 5px;

    color: rgb(187, 185, 185);
    transition: color 0.2s;
}

.star.filled {
    color: rgb(255, 187, 0);
}