.rating-card {
    border-radius: 5px;
    border: 1px solid rgb(200, 200, 200);
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}

.rating-card h2 {
    font-size: 1.2rem;
}

.rating-card a {
    color: rgb(255, 187, 0);
    text-decoration: none;
}

.rating-card a:hover{
    color: rgb(255, 222, 133);
}

.rating-card p {
    color: rgb(101, 101, 101);
    margin-top: 1rem;
    margin-left: 1rem;
}